#titlebar {
    display: block;
    position: fixed;
    height: 25px;
    width: 100%;
    background: #1f2225;
    user-select: none;
    z-index: 5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-40px, -40px);
    /* display: none; */
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#titlebar {
    color: var(--font-color);
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#min-button {
    grid-column: 1;
}
#max-button,
#restore-button {
    grid-column: 2;
}
#close-button {
    grid-column: 2;
}

#drag-region .title {
    height: 50%;
}

#window-controls .icon {
    width: 9px;
    height: 9px;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    user-select: none;
}
#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}
#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: red !important;
}
#close-button:active {
    background: rgb(238, 101, 101) !important;
}
#close-button:active .icon {
    filter: invert(1);
}

#restore-button {
    display: none !important;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

:root {
    --background: #22272e;
    --font-color: #b9c4cf;
    --font-secondary: #57606a;
    --font-cta: #4b9bf5;
    --button: #444c56;
    --button-active: #347d39;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--font-color);
    margin: auto;
    padding: 40px;
}

header {
    display: flex;
}

header:not(#titlebar) {
    margin-top: 60px;
}

header img {
    width: 35px;
}

header h1 {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
}

main {
    margin-top: 80px;
    display: flex;
    position: relative;
}

main input {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 11px;
    border: 1px solid var(--button);
    font-size: 15px;
    color: var(--font-color);
    border-radius: 5px;
    width: 350px;
    transition: border 200ms;
}

main input::placeholder {
    color: var(--font-secondary);
}

main input:focus {
    border: 1px solid var(--font-cta);
}

main div:not(.dropdown-content) {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

main .select {
    background-color: var(--button);
    border: 1px solid #414141;
}

main .select .dropbtn {
    padding: 0px 0px;
    padding-right: 25px;
}

main .select:hover {
    background-color: #444c56;
    border: 1px solid #768390;
}

main .select::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid var(--font-color);
}

main .dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #323941;
    min-width: 160px;
    overflow: auto;
    z-index: 2;
    border-radius: 5px;
    border: 1px solid #444c56;
}

.form-label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    border-bottom: 1px solid #444c56;
}

.form-label:last-child {
    border-bottom: none;
}

.form-label > input {
    opacity: 0;
    position: absolute;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}

.form-label > input:checked {
    border: 1px solid #000000;
    background-color: #ffffff;
}

.form-label > input:checked + svg {
    outline: none;
    fill: var(--font-color);
}

.form-label svg {
    position: relative;
    transform: translateY(2px);
}

main .dropdown-content label:hover {
    background-color: #2d333b;
}

main .show {
    display: block;
}

main .create img {
    width: 16px;
}

main .create {
    background-color: var(--button-active);
    color: white;
    padding: 0px 10px;
    transition: background-color 400ms;
}

main .create:hover {
    background-color: #46954a;
}

.folder {
    margin-top: 5px;
    font-size: 14px;
    color: var(--font-secondary);
}

.folder a {
    margin-left: 4px;
}

a {
    color: var(--font-cta);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

#folder {
    margin-top: 30px;
}
